body {
	margin: 0;
	padding: 0;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
	background-color: #f2f2f2;
	position: relative;
}

img {
	max-width: 100%;
	height: auto;
}

.shadow {
	width: 1200px;
	margin: 0 auto;
	-webkit-box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
	        box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.main-navigation {
	position: relative;
}

.site-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 0;	
}

.main-header-logo {
	display: block;
	position: absolute;
	left: 50%;
	-webkit-transform: translate(-50%);
	    -ms-transform: translate(-50%);
	        transform: translate(-50%);
	z-index: 10;
}

.site-navigation li {
	padding: 0;
	width: 240px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.site-navigation li:nth-of-type(1) {
	text-align: left;
	padding-left: 72px;
}


.site-navigation li:nth-of-type(2) {
	text-align: left;
	padding-left: 73px;
	margin-right: 240px;
}

.site-navigation li:nth-of-type(3) {
	text-align: right;
	padding-right: 75px;
}

.site-navigation li:nth-of-type(4) {
	text-align: right;
	padding-right: 72px;
}

.site-navigation a {
	display: block;
	padding: 15px 0;
	font-size: 14px;
	line-height: 26px;
	vertical-align: middle;
	text-decoration: none;
	color: #000000;
}

.site-navigation a:hover {
	color: #81b3d2;
}

.site-navigation a:focus {
	color: rgba(0, 0, 0, 0.3);
}

.site-navigation-current a {
	color: #766357;
}

.container {
	margin: 0 auto;
	width: 1200px;
	background-color: #ffffff;
}

.hero-positioner {
	position: relative;
	margin-bottom: 60px;
	width: inherit;	
	min-height: 510px;
}

.hero {
	position: absolute;
	width: inherit;
	min-height: 510px;
	background-color: #81b3d2;
	background-image: url("../img/background-photo.jpg");
	background-position: 0 -83px;
	background-repeat: no-repeat;
}

.hero img {
	display: block;
	padding-top: 76px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 21px;
}

.hero::before {
	content: "";
	position: absolute;
	width: 1200px;
	min-height: 59px;
	background-image: url("../img/polygon.svg");
	background-repeat: no-repeat;
	left: 0;
	bottom: 0;
	background-position: 0 2px;
}

.advantages .advantages-header {
	font-size: 21px;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 28px;
	width: 440px;
}

.advantages .intro {
	color: #333333;
	text-align: center;
	letter-spacing: 0.08px;
	margin-bottom: 50px;
	font-weight: 400;
}

.advantages-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.advantages-row:nth-of-type(1) .advantage-item {
	padding: 46px 60px 58px;
}

.advantages-row:nth-of-type(2) .advantage-item {
	padding: 44px 48px 59px;
}

.advantages-row:nth-of-type(3) .advantage-item:nth-of-type(1) {
	padding: 45px 95px 59px;
}

.advantages-row:nth-of-type(3) .advantage-item:nth-of-type(2) {
	padding: 45px 69px 59px;
}

.advantages-row:nth-of-type(3) .advantage-item:nth-of-type(3) {
	padding: 45px 76px 60px;
}

.advantage-item {
	width: 400px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.advantage-item h3 {
	margin: 0 auto;
	margin-bottom: 25px;
	font-size: 21px;
	line-height: 21px;
	text-align: center;
	width: 160px;
}

.advantage-number {
	text-align: center;
	line-height: 21px;
	font-weight: 400;
	margin-bottom: 23px;
}

.advantage-description {
	margin: 0;
	text-align: center;
	line-height: 21px;
	font-weight: 400;
}

.advantage-item-blue {
	color: #ffffff;
	background-color: #81b3d2; 
}

.advantage-item-gray {
	color: #333333;
	background-color: #eeeeee;
}

.advantage-item-gray h3 {
	color: #000000;
}

.features-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin: 56px 0 83px;
	padding: 0;
	list-style: none;
}

.features-item {
	width: 400px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin-top: 85px;
}


.features-item h3:before{
	content: "";
	position: absolute;
	top: -100px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
}

.features-item:first-of-type h3::before {
	width: 75px;
	height: 72px;
	background: url("../img/icon-1.svg") no-repeat;
	background-color: #ffffff;
}

.features-item:nth-of-type(2) h3::before {
	width: 74px;
	height: 70px;
	background: url("../img/icon-3.svg") no-repeat;
	background-color: #ffffff;
}

.features-item:nth-of-type(3) h3::before {
	width: 64px;
	height: 76px;
	top: -105px;
	background: url("../img/icon-2.svg") no-repeat;
	background-color: #ffffff;
}

.features-item h3 {
	font-size: 21px;
	line-height: 21px;
	text-align: center;
	margin-bottom: 23px;
	position: relative;
}

.features-description {
	margin: 0 auto;
	width: 290px;
	text-align: center;
	line-height: 21px;
	font-weight: 400;
	color: #333333;
}

.hotel-suggestions {
	position: relative;
}

.hotel-suggestions-header {
	margin: 48px 380px 46px;
}

.hotel-suggestions h2 {
	font-size: 30px;
	line-height: 36px;
	text-align: center;	
}

.hotel-suggestions p {
	font-weight: 400;
	line-height: 24px;
	text-align: center;
	color: #333333;
}

.hotel-suggestions .search-link {
	display: block;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 30px 135px;
	margin: 0 auto;
	width: 568px;
	font-size: 21px;
	text-align: center;
	position: relative;
	z-index: 10;
}

.search-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.2);
	        box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.2);
	width: 568px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	z-index: 5;
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
	background-color: #ffffff;
	-webkit-animation-name: move-form;
	        animation-name: move-form;
	-webkit-animation-duration: 0.5s;
	        animation-duration: 0.5s;
}

@-webkit-keyframes move-form {
	from {
		top: 150px;
	}
	to {
		top: 240px;
	}
}

@keyframes move-form {
	from {
		top: 150px;
	}
	to {
		top: 240px;
	}
}

.search-form-close {
	display: none;
}

.search-form input[type="text"] {
	outline: none;
	font: inherit;
	vertical-align: middle;
	text-transform: uppercase;
	color: #000000;
	background-color: #f2f2f2;
	border: none;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.search-form input[type="text"]:hover {
	background-color: #ebebeb;
}

.search-form input[type="text"]:focus {
	background-color: #ffffff;
	border: solid 2px #e5e5e5;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000000;
}

::-moz-placeholder { /* Firefox 19+ */
  color: #000000;
  opacity: 1;
}

:-ms-input-placeholder { /* IE 10+ */
  color: #000000;
}

:-moz-placeholder { /* Firefox 18- */
  color: #000000;
  opacity: 1;
}

.search-big-positioner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	position: relative;
	padding: 15px 55px;
	width: 568px;	
	-webkit-box-pack: justify;	
	    -ms-flex-pack: justify;	
	        justify-content: space-between;
}

.search-big-positioner:first-child {
	margin-top: 40px;
}

.search-label {
	letter-spacing: 0.2px;
}

.search-button-calendar {
	border: none;
	position: absolute;
	top: 23px;
	right: 65px;
	width: 21px;
	height: 22px;
	background: url("../img/calendar.svg") no-repeat;
	cursor: pointer;
}

.search-button-calendar:hover {
	background: url("../img/calendar_hover.svg") no-repeat;
}

.search-button-calendar:focus {
	background: url("../img/calendar_focus.svg") no-repeat;
}

.search-field-big {
	width: 346px;
	height: 38px;
	padding: 4px 33px 6px 13px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin-left: 15px;
}

.search-small-positioner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;	
}

.search-small-positioner:nth-of-type(1) .search-label-column{
	margin-right: 40px;
}

.search-small-positioner:nth-of-type(2) .search-label-column{
	margin-right: 27px;
}

.search-field-small {
	width: 38px;
	height: 38px;
	text-align: center;
	margin: 0 -1px;
}

.search-button {
	background-color: transparent;
	border: none;	
}

.search-button-plus,
.search-button-minus {
	position: relative;
	width: 39px;
	height: 38px;
	background: #f2f2f2;
	cursor: pointer;
}

.search-button-minus::before {
	content: "";
	position: absolute;
	width: 12px;
	height: 3px;
	background-color: #a9a9a9;
	top: 50%;
	left: 35%;
}

.search-button-plus::before {
	content: "";
	position: absolute;
	width: 11px;
	height: 3px;
	background-color: #a9a9a9;
	top: 50%;
	right: 35%;
}

.search-button-plus::after {
	content: "";
	position: absolute;
	width: 11px;
	height: 3px;
	background-color: #a9a9a9;
	-webkit-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	        transform: rotate(90deg);
	top: 50%;
	right: 35%;
}

.search-button-plus:hover::before,
.search-button-plus:hover::after,
.search-button-minus:hover::before {
	background-color: #000000;
}

.search-button-plus:focus::before,
.search-button-plus:focus::after,
.search-button-minus:focus::before {
	background-color: #81b3d2;
} 

.button {
	font: inherit;
	vertical-align: middle;
	text-decoration: none;
	text-transform: uppercase;
	border: none;
}

.button-blue {
	color:#ffffff;
	background-color: #81b3d2;
}

.button-blue:hover {
	background-color: #669ec0;
}

.button-blue:focus {
	color: rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}

.button-brown {		
	color: #ffffff;
	background-color: #766357;	
}

.button-brown:hover {
	background-color: #604e43;
}

.button-brown:focus {
	color: rgba(255, 255, 255, 0.3);
	background-color: #503e33;
}

.search-form .button-blue {
	font-size: 21px;
}

.find-link {
	margin: 0 auto;
	width: 458px;
	margin-top: 39px;
	margin-bottom: 55px;
	padding-top: 14px;
	padding-bottom: 19px;
}

.map {
	position: relative;
}

.map iframe {
	position: relative;
	z-index: 2;
}

.map-image {
	position: absolute;
	top:0;
	left: 0;
	z-index: 0;
}

.filters {
	width: 1200px;
	min-height: 218px;
	background-position: 0 -300px; 
	background-color: #81b3d2;
	background-image: url("../img/filter-background.jpg");
	background-repeat: no-repeat;
}


.filters-positioner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.filters fieldset {
	color: #ffffff;
	border: none;
}

.filters legend {
	font-size: 16px;
	line-height: 21px;
}

.filters ul {
	padding: 0;
	margin: 0;
	list-style:none;
}

.filters-item {
	line-height: 21px;
	padding-left: 40px;
	font-weight: 400;
}

.filters-item .filter-checkbox {
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
}

.filters-item label {
	position: relative;
	display: block;
	cursor: pointer;
}

.filter-checkbox + label::before,
.filter-checkbox:hover + label::before {
	content: "";
	position: absolute;
	left: -40px;
	top: -1px;
	width: 23px;
	height: 23px;
	background: url("../img/checkbox-off.svg") no-repeat;
	background-color: transparent;
}

.filter-checkbox:focus + label::before {
	-webkit-box-shadow:  0 0 5px 2px rgba(255, 255, 255, 0.5);
	        box-shadow:  0 0 5px 2px rgba(255, 255, 255, 0.5);
}

.filter-checkbox:checked + label::before,
.filter-checkbox:checked:hover + label::before {
	content: "";
	position: absolute;
	left: -40px;
	top: -1px;
	width: 27px;
	height: 23px;
	background: url("../img/checkbox-on.svg") no-repeat;
	background-color: transparent;
}

.filter-checkbox:checked:disabled + label::before {
	content: "";
	position: absolute;
	left: -40px;
	top: -1px;
	width: 27px;
	height: 23px;
	background: url("../img/checkbox-on-disabled.svg") no-repeat;
	background-color: transparent;
}

.filter-checkbox:disabled + label::before {
	content: "";
	position: absolute;
	left: -40px;
	top: -1px;
	width: 23px;
	height: 23px;
	background: url("../img/checkbox-off-disabled.svg") no-repeat;
	background-color: transparent;
}

.filter-checkbox:disabled + label {
	cursor: default;
}

.infrastructure {
	width: 145px;
	margin: 28px 110px 33px 73px;
	padding: 0;
	letter-spacing: 0.3px;
}

.infrastructure legend,
.hoteltype legend {
	margin-bottom: 25px;
}

.infrastructure .filters-item,
.hoteltype .filters-item {
	margin-bottom: 25px;
}

.infrastructure .filters-item:last-of-type,
.hoteltype .filters-item:last-of-type {
	margin-bottom: 0px;

}

.hoteltype {
	width: 160px;
	margin: 28px 320px 33px 0;
	padding: 0;
}

.filter-range {
	width: 320px;
	margin: 0;
	margin-top: 28px;
	padding: 0;
}

.filter-range-title {
	margin-left: 5px;
	margin-bottom: 9px;
	font-weight: 700;
	font-size: 16px;
	line-height: 21px;
	padding-left: 2px;
}

.price-controls {
	position: relative;
	height: 32px;
	margin-bottom: 20px;
	margin-left: 2px;
	font-size: 0;
	border: 2px solid #ffffff;
	border-radius: 2px;
}

.price-controls::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2px;
	height: 22px;
	background: #ffffff;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

.price-controls label {
	display: inline-block;
	font-size: 14px;
	font-weight: 400;
	line-height: 30px; 
	vertical-align: top;
	cursor: pointer;
}

.price-controls .min-price {
	width: 90px;
	padding-left: 65px;
}

.price-controls .max-price {
	width: 90px;
	padding-left: 57px;
}

.price-controls input {
	width: 50px;
	margin: 0;
	color: inherit;
	font: inherit;
	line-height: 21px;
	background: none;
	border: none;
}

.range-controls {
	position: relative;
	margin-bottom: 32px;
	margin-left: 3px;
}

.range-controls .scale {
	height: 2px;
	background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
	width: 80%;
	height: 2px;
	background: #ffffff;
}

.range-toggle {
	padding: 2px;
	position: absolute;
	top: -9px;
	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	-webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	        box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
}

.range-toggle:hover {
	border: 9px solid #ffffff;
}

.range-toggle-min {
	left: 0;
}

.range-toggle-max {
	left: 80%;
}

.transparent-button {
	display: block;
	margin: 0 auto;
	padding: 6px 34px;
	line-height: 21px;
	font-weight: 400;
	color: #ffffff;
	background: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	cursor: pointer;
}

.transparent-button:hover {
	color: #000000;
	background-color: #ffffff;
}

.found-positioner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	margin-bottom: 30px;
	margin-top: 28px;
	padding-left:10px;
	padding-right: 110px;
}

.found-buttons {
	position: relative;
	width: 34px;
	margin-right: 73px;
	margin-left: auto;
}

.button-up::before,
.button-down::before {
	display: block;
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border: 10px solid #cacaca;
	border-left: 5.5px solid transparent;
	border-right: 5.5px solid transparent;
	border-bottom-width: 0;
}

.button-down::before {
	top: -17px;
	left: 134px;
}

.button-up::before {
	top: -17px;
	left: 111px;
	-webkit-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	        transform: rotate(180deg);
}

.button-up:hover::before,
.button-down:hover::before {
	border-top-color: #000000;
}

.found-button-current::before {
	border-top-color: #81b3d2;
}

.button-up:focus::before,
.button-down:focus::before {
	border-top-color: #81b3d2;
}

.suitable-hotels h4,
.sort-item {
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
} 

.suitable-hotels h4 {
	display: block;
	margin: 0;
	margin-right: 38px;
	font-size: 12px;
	line-height: 18px;
}

.sort-list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.suitable-hotels .found {
	margin-right: 49px;
	margin-left: 62px;
	font-size: 21px;
}

.sort-item{
	margin-right: 33px;
	padding-bottom: 1px;
}

.sort-item a{
	font-size: 12px;
	line-height: 18px;
	color: rgba(0, 0, 0, 0.3);
	text-decoration: none;
	border-bottom: 1px dotted #81b3d2;
}

.sort-item a:hover {
	color: #81b3d2;
}

.sort-item a:focus {
	color: #000000;
	border-bottom: none;
}

.sort-item-current a {
	color: #81b3d2;
	border-bottom: none;
}

.hotels-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding: 0;
	margin: 0;
	list-style: none;
}

.hotels-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	padding: 24px 72px 31px;
	width: 1056px;
	border-bottom: 1px solid #e5e5e5;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
}

.hotels-item:first-of-type {
	border-top: 1px solid #e5e5e5;
}

.booking-positioner {
	margin-left: 30px;
}

.hotels-item .hotel-image {
	width: 135px;
	height: 90px;
}

.hotels-item h2 {
	letter-spacing: 0.3px;
	margin: 0;
	margin-bottom: 11px;

}

.hotels-item .hotel-name{
	text-decoration: none;
	color: #000000;
}

.hotels-item .hotel-name:hover {
	color: #81b3d2;
}

.hotels-item .hotel-name:focus {
	color: rgba(0, 0, 0, 0.3);
}

.type-price-positioner {
	width: 183px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-bottom: 11px;
}

.hotel-type,
.hotel-price {
	line-height: 21px;
	color: #333333;
	font-weight: 400;
}

.hotel-link-more {
	padding: 4px 17px;
	margin-right: 2px;
}

.hotel-link-book {
	padding: 4px 17px;
}

.rating-positioner{
	margin-left: auto;
}

.rating-positioner img {
	padding-right: 1px;
}

.stars {
	text-align: right;
	padding: 0;
	margin: 0;
	margin-bottom: 45px;
}

.stars img {
	vertical-align: middle;
}

.rating {
	line-height: 21px;
	text-align: center;
	color: #666666;
	font-weight: 400;	
	background-color: #f2f2f2;
	padding: 3px 13px 1px 14px ;
}

.footer .container {
	background-color: rgba(255, 255, 255, 0.9);
}

.main-footer {
	position: absolute;
	z-index: 10;
	bottom: 4px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
}

.footer-positioner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-top: 19px;
	padding-bottom: 25px;
}

.footer-social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	padding: 0;
	margin: 0;
	margin-top: 7px;
	margin-right: 221px;
	list-style: none;
	width: 156px;
}

.social-button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-bottom: 5px;
	margin-right: 6px;
	background-color: #81b3d2;
	width: 46px;
	height: 48px;
}
.social-button:nth-of-type(3n) {
	margin-right: 0px;
}

.social-button:hover {
	background-color: #669ec0;
}

.social-button:focus {
	background-color: #5496bd;
}

.social-button:focus path {
	fill: rgba(255, 255, 255, 0.3);
}

.hashtag {
	font-size: 21px;
	text-align: center;
	display: block;
	width: 136px;
	margin-left: 132px;
	margin-right: 256px;
}

.copy {
	font-size: 14px;
	width: 197px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.copy span {
	margin-top: 13px;
}

.copy svg {
	margin-top: 5px;
}

.copy-link:hover path {
	fill: #81b3d2;
}

.copy-link:focus path {
	fill: #bdbbbc;
}

.visually-hidden:not(:focus):not(:active) {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: no-wrap;
	-webkit-clip-path: inset(100%);
	        clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}